@import '../../UI/theme.css';

nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-black);
  color: #fff;
  z-index: 50;
}

.content { 
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
}

.navRibbon {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navItems {
  height: 100vh;
  display: block;
  padding: 0.25rem 0.5rem;
  text-transform: uppercase;
}

.navItemsLink {
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  border-bottom: 2px;
  height: 15%;
  border-color: transparent;
  transition: .3s ease-out;
}

.navItemsLink:hover {
  color: var(--color-red);
}

.navItemsLink:after {
  display: block;
  height: 2px;
  width: 50%;
  background: linear-gradient(to left, transparent 50%, var(--color-red) 50%) right;
  background-size: 200%;
  content: ' ';
  margin: 0 auto;
  margin-top: 0.5rem;
  transition: .3s ease-out;
}

.navItemsLink:hover::after {
  background-position: left;
}

.mobileNavIcon {
  cursor: pointer;
  font-size: 200%;
}

.navigationLogo {
  height: 4rem;
  width: auto;
}  

button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

@media only screen and (min-width: 640px) {}

@media only screen and (min-width: 768px) {
  .content { 
    display: flex;
    justify-content: space-around;
  }

  .mobileNavIcon {
    display: none;
  }

  .mobileNavIcon button {
    display: none;
  }

  .navItems {
    display: flex;
    height: auto;
    padding: 0.25rem 0.5rem;
    text-transform: capitalize;
    flex-direction: row;
  }
  
  .navItems a {
    margin: 0.25rem 0.25rem;
    margin-bottom: 2px;
    padding-left: 1rem;
  }

  .navItemsLink:after {
    margin-top: 2px;
  }
}

@media only screen and (min-width: 1024px) {}

@media only screen and (min-width: 1536px) {}