@import '../../UI/theme.css';

nav {
  max-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-black);
  z-index: 9999;
  font-size: large;
  align-items: center;
}

/* ------------------------------------------ */
/* MOBILE NAVIGATION */
/* ------------------------------------------ */

.mobileNavIcon {
  float: right;
  margin-top: 20px;
  cursor: pointer;
  font-size: 200%;
  color: #fff;
}

.navRibbon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.75rem 1rem;
}

.navItems {
  height: 100vh;
  padding: 0.25rem 0.5rem;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}

.navItems a {
  text-decoration: none;
  cursor: pointer;
  margin: 2rem 2rem;
  padding: 0.25rem 0.5rem;
  color: #fff;
  border-bottom: 2px;
  border-color: transparent;
}

.navItems a:hover,
.navItems a:active {
  border-bottom: 2px solid var(--color-red);
}

/* .navRibbon {
  width: 100%;
  justify-content: space-between;
}

.mainNav {
  list-style: none;
  margin: 0;
  text-transform: capitalize;
  align-items: center;
  font-weight: var(--semi-bold);
  font-size: var(--text-lg);
}

.mainNav li {
  width: 100%;
  display: inline-block;
  padding: 0.25rem 1rem;
}

.mainNav li a:link,
.mainNav li a:visited {
  border-bottom: 2px solid transparent;
  padding-bottom: 0.5rem;
  transition: border-bottom 0.2s;
  text-decoration: none;
  color: #fff;
}

.mainNav li a:hover,
.mainNav li a:active {
  border-bottom: 2px solid var(--color-red);
}
*/
.navigationLogo {
  height: 4rem;
  width: auto;
  float: left;
}  

button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

@media only screen and (min-width: 640px) {}

@media only screen and (min-width: 768px) {
  .mobileNavIcon {
    display: none;
  }

  button {
    display: none;
  }

  nav {
    display: flex;
  justify-content: space-around;
  }

  .navItems {
    height: auto;
    padding: 0.25rem 0.5rem;
    text-transform: capitalize;
    flex-direction: row;
  }
  
  .navItems a {
    margin: 0.25rem 0.25rem;
  }
}

@media only screen and (min-width: 1024px) {}

@media only screen and (min-width: 1536px) {}