.enter{
  height: 0px;
  opacity: 0;
}
.enterActive {
  height: 95vh;
  opacity: 1;
  transform: translateX(0);
  transition: all 300ms ease-in-out;
}
.exit {
  opacity: 1;
}
.exitActive {
  height: 0px;
  opacity: 0;
  transition: all 300ms ease-in-out;
}
