@import '../components/UI/theme.css';

section {
  color: #fff;
  background: var(--color-red);
}

.heroLink {
  color: var(--color-yellow);
  font-weight: 400;
  padding: 10px;
  border-bottom: var(--color-yellow) solid 1px;
  transition: 0.5s, color 0.5s;
  cursor: pointer;
}

.heroLink:hover,
.heroLink:active {
    color: var(--color-black);
    border-bottom: var(--color-black) solid 1px;
}
