@import '../components/UI/theme.css';

.servicesOffered ul > li {
  text-transform: uppercase;
}

.Icon {
  display: inline-block;
  width: 3rem;
  text-align: center;
  font-size: 120%;
  line-height: 120%;
  vertical-align: middle;
  margin-top: -1rem;
  margin-right: 1rem;
}